*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: "Montserrat";
  overflow-x: hidden;
  background-color: #000;
}

/* Headings*/
h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat";
}
h3{
  font-weight: bold;
  font-size: 1.5rem;
}
h2{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
.slide{
font-weight: bold;
color: #fff;
font-size: 3rem;
text-shadow: 3px 5px 2px black;
}
p{
  color: #8f8f8f;
}

/* Title */
#title{
  background-image: url(/images/pozadina.png);
  background-repeat: no-repeat;
  position:relative;
  color: #fff;
  background-size:100%;
}
.container-fluid{
  padding: 0% 0% 7%;
  height: 55rem;
}
.naslov{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20% 15%;
}

/* About us text */
.abouth1{
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.abouth3{
  text-align: justify;
  color: #fff;
  font-weight: normal;
}
.aboutText{
  margin: auto;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 1rem;   
}

/* Navbar*/
.navbar-brand{
font-family: 'Montserrat';
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding: 2 0 4.5rem;
  font-family: 'Montserrat';
}
.some{
  padding: 0% 10%;
  position:fixed;
  background-image: url("./images/pozadina.png"); 
  height:80px;
  z-index: 1;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease-out;
}
.navbar-scrolled{
background-image: url("./images/pozadina.png");
}
.nav-item{
  padding: 0 18px;  
}
.nav-link{
font-family: 'Montserrat'!important;
font-size: 1.5rem !important;
font-weight: bold;
white-space: nowrap;                       
}
.navbar-nav{
  align-items: flex-end;
}
/*-------------------------------------------------------------------------------------------------------------------------*/

/* Dropdown */
.dropdown-menu li {
  position: relative;
  }
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }
/*-------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------- */

/* Grid images */
.container{
  padding: 2rem;
}
.row{
  padding-bottom: 1.5rem;
}
.img-thumbnail{
  height: 15rem;
  border-radius: 4%;
  background-color: transparent;
  border-color: transparent;
}
/* ----------------------------------------------------------------------------------------------------------------------- */

/* Visit section */
.visit-button{
/* malo da odmaknem buttone od texta i slike */
margin: 5% 3% 5% 0%;
}
.visit-background{
  background-image: url('images/lokacija.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-bottom: 7%;
  padding-top: 7%;
  text-align: center;
  overflow: hidden;
}
.visit-heading{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5; 
}
/* ----------------------------------------------------------------------------------------------------------------------- */

/* Application section */
#apply{
padding: 10% 0%;
}
.form-items{
padding: 2% 2%;
border: 3px solid white;
width: 35%;
margin: 0 auto;
border-radius: 5%;
}
.invalid-feedback{
color: #fff;
text-align: left;
font-size: 18px;
margin-bottom: 5px;
}
.form-check-label{
color: #fff;
text-align: left;
font-size: 18px;
margin-bottom: 5px;
}
#uzrast{
color: #fff;
text-align: left;
font-size: 18px;
margin-bottom: 5px;
}
.form-items h3{
color: #fff;
text-align: left;
font-size: 28px;
font-weight: 600;
margin-bottom: 5px;
}
.form-button{
text-align: center;
}
.mv-up{
margin-top: -9px !important;
margin-bottom: 8px !important;
}
.invalid-feedback{
color: #ff606e;
}
/* ----------------------------------------------------------------------------------------------------------------------- */

/* FOOTER */
#icon-link{
padding-right: 10%;
size: 15rem;
}
.mb-4{
margin-top: 7%;
}
#adminsubmit{
margin-left:20px;
}
/* ----------------------------------------------------------------------------------------------------------------------- */

/* responsive */
@media (max-width: 1028px){
#title{
    text-align: center;
    background-size: 200%;
}
.typing-text-div{
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
.typing-text{
  
  font-size: 1.4rem;
}
.row{
  padding: 20% 15%;
}
.some{
  padding: 0% 10%;
  position:relative;
  background-image: url(""); 
  height:auto;
  z-index: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease-out;

}
.logodiv{
  margin: 0 auto;
  width: 50%;
}
.title-image{
    position: static;
      
}
.center{
    text-align: center;
    margin-left: 6rem;
}
#foods-row{
    /* top bottom i left right */
    padding: 5% 15%; 
}
.navbar-brand{
  font-size: 2rem;
  padding-top: 8%;
  
}
.form-items{
  width:85%;
}
}