.dropdown-menu {
    display: none;
  }
.container {
  padding: 2% 2%;
  border: 3px solid white;
  width: 35%;
  margin: 0 auto;
  border-radius: 5%;
}
.form-label, .container h1{
color: #fff;
text-align: left;
font-size: 28px;
font-weight: 600;
margin-bottom: 5px;
}
.body{
    background-image: url(/images/pozadina.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;  
}
.topbar{
  height: 100px;
}
.box1{
  display:inline-flex;
  width:40%;
  padding-left: 15px;
  padding-top: 30px;
  .btn-dark{
    width:100px;
  }
}
.box2{
  display:inline-flex;
  width:auto;
  padding-top: 10px;
}
.box3{
  padding-top: 30px;
  .submit-btn{
    width:100%;
    }
}
.mb-3{
  padding-top: 10px;
}
.form-control{
  background-color: rgb(227, 227, 227)  ;
}
.form-label{
  font-size: 18px;
}