*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: "Montserrat";
    overflow-x: hidden;
    background-color: #000;
}

/* Headings*/
h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
}
h3{
    font-weight: bold;
    font-size: 1.5rem;
}
h2{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
.slide{
  font-weight: bold;
  color: #fff;
  font-size: 3rem;
  text-shadow: 3px 5px 2px black;
}
p{
    color: #8f8f8f;
}

/* Title */
#title{
    background-image: url(/images/pozadina.png);
    background-repeat: no-repeat;
    position:relative;
    color: #fff;
    /* padding-bottom: 11%; */
    background-size:100%;
}
.container-fluid{
    padding: 3% 10% 7%;  
}

/* Title image */
.row{
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Distribute items horizontally */
  padding: 0% 5%;
}
.logodiv{
    margin-top: 5%;
    width:30%;
    text-align: center;
}
.title-image{
  width: 100%;
  max-width: 400px;
  height: auto;
}

/*Animirani text*/
.typing-text-div{
  text-align: center;
}
.typing-text {
  font-family: 'Montserrat';  
  flex: 1;
  font-size: 3rem;  line-height: 1.5;  
  font-weight: 900;
  overflow: show; /* Hide overflowing text */
  white-space: nowrap; /* Prevent line breaks */
  margin: 0 auto; /* Center the text */
  letter-spacing: 0.15em; /* Adjust letter spacing */
  animation:
    typing 3s steps(40, end),
}
.typing-text::after {
  content: "|"; /* Cursor symbol */
  display: inline-block;
  animation: cursor-blink 0.75s infinite;
} 
@keyframes cursor-blink {
  from, to {
    opacity: 1; /* Show the cursor */
  }
  50% {
    opacity: 0; /* Hide the cursor */
  }
}
.animated-text{
    color:limegreen;
}
@keyframes typing {
  from {
    width: 0; /* Start with no width */
  }
  to {
    width: 100%; /* Gradually expand the width */
  }
}

/* Animirane kockice */
#overlay {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  height: 93%;
  pointer-events: none;
  z-index: +1; /* Ensure the overlay is behind the content */
  overflow:hidden;
  padding-top: 40%;
}
.square {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: limegreen;
  animation: squarePopUp 2s infinite;
}
@keyframes squarePopUp {
  0% {
      opacity: 0;
      transform: scale(0);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: scale(1.5);
  }
}

/* Navbar*/
.navbar-brand{
  font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding: 0 0 4.5rem;
    font-family: 'Montserrat';
}
.some{
    padding-bottom: 5em;
}
.nav-item{
    padding: 0 18px;
    
}
.nav-link{
  font-family: 'Montserrat'!important;
  font-size: 1.5rem !important;
  font-weight: bold;
  white-space: nowrap;                       
     
}
.navbar-nav{
    align-items: flex-end;
}
/* ----------------------------------------------------------------------------------------------------------------------- */

/* News */
.container-news{
  background-color: black;
  padding-bottom: 5%;
  padding-top: 15%;
}
h1 {
  color: #fff;
  padding: 10px 0;
  padding-bottom: 30px;
  font-weight: bold;
}
h5{
  color: #000;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
  .a {
    color:initial;
    &:hover {
      text-decoration: initial;
    }
  }
  .text-muted i {
    margin: 0 10px;
  }
}
.card-title{
  font-style: italic;
  font-family: "Montserrat";
}
/* ----------------------------------------------------------------------------------------------------------------------- */

/* Slides section */
#carouselExampleDark{
  margin: 0 auto;
  padding:0;  
  overflow:visible;
}
.carousel-item{
  transition-property: transform; /* Only animate transform */
transition-duration: 0.5s; /* Transition duration */
transform: translateX(0%); /* Jako bitno za carousel animaciju */
}
/* ----------------------------------------------------------------------------------------------------------------------- */

/* Visit section */
.visit-button{
  /* malo da odmaknem buttone od texta i slike */
  margin: 5% 3% 5% 0%;
}
.visit-background{
    background-image: url('images/lokacija.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-bottom: 7%;
    padding-top: 7%;
    text-align: center;
    overflow: hidden;
}
.visit-heading{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5; 
}
/* ----------------------------------------------------------------------------------------------------------------------- */

/* Application section */
.hideform {
    display: none;
}
.form-body{
    background-image:url(images/pozadinaflipped.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}
.form-content .form-items {
  border: 3px solid #fff;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}
.form-content h3.form-title {
  margin-bottom: 30px;
}
.form-content p {
  color: #fff;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}
.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
  color: #fff;
}
.form-content input[type=text], .form-content input[type=phone], .form-content input[type=email], .form-content select {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}
.form-content textarea {
  position: static !important;
  width: 100%;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: left;
  background-color: #fff;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 14px;
}
.form-content textarea:hover, .form-content textarea:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8D8D8D;
}
.mv-up{
  margin-top: -9px !important;
  margin-bottom: 8px !important;
}
.invalid-feedback{
  color: #ff606e;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
  
/* responsive */
@media (max-width: 1028px){
  #title{
      text-align: center;
      background-size: 200%;
  }
  .typing-text-div{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
  }
  .typing-text{
    
    font-size: 1.4rem;
  }
  .logodiv{
    margin: 0 auto;
    width: 50%;
  }
  .title-image{
      position: static;
        
  }

  .center{
      text-align: center;
      margin-left: 6rem;
  }
  #foods-row{
      /* top bottom i left right */
      padding: 5% 15%; 
  }
  .navbar-brand{
    font-size: 2rem;
    padding-top: 8%;
    
  }
  .form-body{
    background-position: bottom;
    background-size: 200%;
  }
  .form-content{
    height: 50%;
  }


}
